img{
    height: 100px;
    width:100px;
    margin:10px 20px ;
    border-style:solid;
    border-width: 0.5cm;
    border-color: rgb(5, 77, 53) red yellow rgb(3, 1, 14);
    border-radius: 100px;
    padding: 0.5cm 1cm 3cm;


}